// Form Steps

ol.progtrckr {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
  color: #1186a2;
}

#next-button {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  border-radius: 0.1rem;
  letter-spacing: 1.2px;
  color: #eef0f2;
  background-color: #1186a2;
  transition: all 0.3s ease 0s;
  border-width: 1.5px;
  font-size: 13px;

  outline: none;
  // color:#fca311;
  // background-color:transparent;
  // border-color: #fca311;
  // border-width: 1.7px;
  // padding-right: 10px;
  // padding-left: 10px;
  // padding-top: 2px;
  // padding-bottom: 2px;
}

#next-button:hover {
  background-color: #eef0f2;
  border-color: #eef0f2;
  box-shadow: 0px 10px 10px rgba(252, 163, 17, 0.2);
  color: #fca311;
}

#prev-button:hover {
  background-color: #eef0f2;
  border-color: #eef0f2;
  box-shadow: 0px 10px 10px rgba(252, 163, 17, 0.2);
  color: #fca311;
}

#prev-button {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  border-radius: 0.1rem;
  letter-spacing: 1.2px;
  color: #eef0f2;
  background-color: #1186a2;
  transition: all 0.3s ease 0s;
  border-width: 1.5px;
  font-size: 13px;

  outline: none;
  // color: #fca311;
  // background-color: transparent;
  // border-color: #fca311;
  // border-width: 1.7px;
  // padding-right: 10px;
  // padding-left: 10px;
  // padding-top: 2px;
  // padding-bottom: 2px;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}

.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #cccccc;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:after {
  content: '\00a0\00a0';
}

ol.progtrckr li:before {
  position: relative;
  bottom: -65px;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: '\039F';
  color: silver;
  background-color: #eef0f2;
  width: 20px;
  line-height: 20px;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #1186a2;
}

ol.progtrckr li.progtrckr-doing:before {
  content: '\2022';
  color: #eef0f2;
  background-color: #1186a2;
  width: 20px;
  line-height: 20px;
  border-radius: 50px;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #1186a2;
}

ol.progtrckr li.progtrckr-done:before {
  content: '\2713';
  color: white;
  background-color: #5cb85c;
  width: 20px;
  line-height: 20px;
  border-radius: 50px;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}

.footer-buttons {
  text-align: right;
}

.btn-next {
  margin-right: 5px;
}