// @import './darkTheme/dark';
@import "simplebar/dist/simplebar.min.css";

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';


:root {
    // @import "./variables";
    // @import "simplebar/dist/simplebar.min.css";
    // @import "~bootstrap/scss/bootstrap";
    // @import "~bootstrap-icons/font/bootstrap-icons.scss";
    // @import "./layout/sidebar";
    // @import "./layout/container";
    // @import "./layout/customizer";
    // @import "./layout/horizontal";
    // @import "./layout/topbar";
    // @import "./layout/rtl/rtl";
    //************************************************************
    $font-family-sans-serif: 'Poppins',
    sans-serif;
    // $font-family-sans-serif: 'Nunito', sans-serif;
    // $font-family-sans-serif: 'Heebo', sans-serif;
    // $font-family-sans-serif: 'Rubik', sans-serif;
    /*******************/
    // Theme Colors
    /********************/
    $primary: #077cab;
    // $primary: #1186a2;
    $info: #174a5b;
    // $info: #1f4f67;
    $danger: #ef5350;
    $success: #06d79c;
    $warning: #ffb22b;
    $dark: #242a33;
    $light: #eaf2fb;
    $secondary: #545b62;

    $theme-colors: ('primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark,
        'light-primary': #c7eaff,
        'light-success': #e8fdeb,
        'light-info': #cfecfe,
        'light-warning': #fff8ec,
        'light-danger': #f9e7eb,
        'light-secondary': #f3f2f2,
    );
    // scss-docs-start gray-color-variables
    $white: #fff !default;
    $gray-100: #f8f9fa !default;
    $gray-200: #f2f7f8 !default;
    $gray-300: #dee2e6 !default;
    $gray-400: #ced4da !default;
    $gray-500: #adb5bd !default;
    $gray-600: #99abb4 !default;
    $gray-700: #495057 !default;
    $gray-800: #343a40 !default;
    $gray-900: #1e2a35 !default;
    $black: #000 !default;

    /*******************/
    // Theme Text Contrast
    /********************/
    $min-contrast-ratio: 1.6 !default;
    //$enable-shadows: true !default;

    /*******************/
    // Theme body bg & text color
    /********************/
    $body-bg: #f4f6f9 !default;
    $body-color: #67757c !default;
    $font-size-base: 0.875rem !default;

    // heading fonts setting
    $h1-font-size: 36px !default;
    $h2-font-size: 24px !default;
    $h3-font-size: 21px !default;
    $h4-font-size: 18px !default;
    $h5-font-size: 16px !default;
    $h6-font-size: 14px !default;

    // Font size
    $font-sizes: (1: 36px,
        2: 24px,
        3: 21px,
        4: 18px,
        5: 16px,
        6: 14px,
        7: 12px,
    );

    /*******************/
    // Theme common variable
    /********************/
    $border-radius: 0.3rem !default;
    $box-shadow: 0 0.5rem 1rem rgba($black, 0.1);
    // $box-shadow: 0 0.5rem 1rem rgba($black, 0.05);
    $headings-font-weight: 400 !default;
    $font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

    $font-weight-light: 400 !default;
    $font-weight-normal: 500 !default;
    $font-weight-bold: 600 !default;
    $font-weight-base: $font-weight-light !default;

    $h5-font-size: $font-size-base * 1.1 !default;
    $card-border-width: 0 !default;
    $card-box-shadow: $box-shadow !default;
    $card-spacer-y: 1.25rem !default;
    $card-spacer-x: 1.25rem !default;
    $grid-gutter-width: 1.85rem !default;

    $input-bg: $white !default;
    $badge-font-weight: 300 !default;
    $badge-padding-y: 0.35em !default;
    $badge-padding-x: 0.7em !default;
    $badge-pill-padding-x: 0.7em !default;
    $badge-pill-padding-y: 1em !default;

    // Progress bars
    $progress-height: 6px !default;

    /*******************/
    // Theme btn
    /********************/
    $btn-focus-width: 0px;
    $btn-box-shadow: 0 !default;
    $btn-focus-box-shadow: 0;

    /*******************/
    // Theme sidebar width
    /********************/
    $sidebarWidth: 240px;
    $sidebartext: $gray-900;
    $sidebartextlight: rgba(30, 42, 53, 0.5);
    $miniSidebarWidth: 80px;

    $topbarHeight: 60px;

    $dropdown-border-width: 0 !default;
    $dropdown-box-shadow: $box-shadow !default;
    $dropdown-link-hover-bg: $gray-100 !default;

    $enable-negative-margins: true;

    $table-cell-padding-y: 0.75rem !default;
    $table-cell-padding-x: 0.75rem !default;
    //Added
    $theadColor: #1f4f67;

    body {
        filter: saturate(0.8);
    }

    .topbar {
        background-color: white;
        color: black;
    }

    .mega-dropdown {
        color: black;
    }

    .card-header {
        background-color: white;
    }

    .languageSelected .css-13cymwt-control {
        background-color: transparent;
        border: none;
        border-style: none;
    }

    .css-1u9des2-indicatorSeparator {
        background-color: #6c757d;

    }

    .css-1xc3v61-indicatorContainer {
        color: #6c757d;
    }

    $sideBarColor: white;

    .breadCrumbTitle {
        color: #1f4f67;
        // color:#1186a2;
        font-weight: 600;
        font-size: 25px;
    }

    //Modal redesign
    .modal-header {
        background-color: #eef0f2;
    }

    .modal-title {
        color: #1f4f67;
    }

    .modal-header .btn-close {
        background-color: transparent;
    }

    .modal-body {
        background-color: #eef0f2;
    }

    .modal-body .progtrckr-todo:before {
        background-color: #eef0f2;
    }

    .modal-footer {
        background-color: #eef0f2;
    }

    .rdt_TableCol {
        background-color: transparent;
        padding: 0;
        display: inline-flex;
        justify-content: center;
        color: #1f4f67;
        font-size: 15px;
        // font-size:15px;

    }

    [data-column-id="1"].bQdYbR {
        // min-width: 10% !important;
        flex-grow: 0 !important;
        flex-shrink: 1 !important;
        flex-basis: 0 !important;
        -webkit-flex-shrink: 0 !important;
        -webkit-flex-grow: 0 !important;
        justify-content: center;
        display: inline-flex;

    }

    [data-tag="allowRowEvents"] {
        display: flex;
        justify-content: center;
    }


    .glyQNg {
        display: inline-flex !important;
        padding: 0 !important;
    }




    .form-check .form-switch {
        display: flex;
        justify-content: center;
    }

    .form-switch {
        padding-left: 0 !important;
    }

    .form-check .form-check-input {
        margin-left: 0 !important;
    }



    // Headings outside card
    .outsideCardHeadings {
        color: #077CAB;
        font-weight: 400;
        font-size: $h4-font-size;
    }

    .quickLinksHeadings {
        color: #077cab;
        font-weight: 300;
        font-size: 18px;
        // text-shadow: 0px 0px 15px rgba(172,176,180, 0.2);

    }

    .txtWelcome {
        color: #077cab;
    }

    // ***********************************************************
    @import "./layout/sidebar";
    @import "./layout/container";
    @import "./layout/customizer";
    @import "./layout/horizontal";
    @import "./layout/topbar";
    @import "./layout/rtl/rtl";
    --#{$prefix}body-bg: #f4f6f9;
    .btn-header {
        background-color: transparent;
        color: #6c757d;
        border: none;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: transparent;
        color: $primary;
    }

    .ant-breadcrumb-link {
        color: $primary !important;
    }

    body .btn-icon-N {
        background-color: white;
        color: $primary;
        font-weight: 400;
        font-size: 14px;
        padding-top: 1.8px;
        padding-bottom: 1.8px;
        padding-right: 5.2px;
        padding-left: 5.2px;
        border: none;

        &:focus,
        &:hover {
            background-color: $primary;
            border-color: $primary;
            color: #d9e1e2;
        }
    }

    .headingCard {
        color: $primary;
    }

    .btn-icon-Modal {
        background-color: $primary;
        border-color: $primary;
        padding: 1.8px;

        &:focus,
        &:hover {
            background-color: #d9e1e2;
            border-color: #d9e1e2;
            color: $primary ;
        }
    }

    .linkSideBar {
        text-decoration: none;
        color: white;
    }

    .linkSideBar:hover,
    .active>.linkSideBar {
        color: #174a5b;
    }

    .cardLicenciaDescriptionComponent>.cardLicenciaDescripcion {
        background-color: $primary !important;
    }

    .badgeCurrency {

        border-color: #077cab;
        background-color: #d9e1e2 !important;
        color: $primary;
    }

    .loaderBg {
        background-color: white;
    }

    .checkRoles {
        color: #174a5b;
    }

    [data-column-id] {
        white-space: normal !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        text-align: center;

    }

    [data-tag="allowRowEvents"] {
        white-space: normal !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        text-align: center;
    }
    
    [role="row"] {
        display: flex;
        justify-content: space-between !important;
        align-items: stretch !important;


    }

    [role="rowgroup"] {
        display: flex;
        justify-content: space-between !important;
    }

    .listPermitsRole {
        background-color: transparent;

        &:hover {
            background-color: #d9e1e2;
            color: $primary;
            cursor: pointer;

        }
    }
}

[data-theme='dark'] {
    // @import 'darkvariables';


    // @import './layout/dark.scss';
    // ********************************************************
    /*******************/
    // Theme Fonts
    /********************/
    @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
    $font-family-sans-serif: 'Poppins',
    sans-serif;
    /*******************/
    // Theme Colors
    /********************/
    $primaryWhite: #d9e1e2;
    $primary: #077CAB;
    $info: #1f4f67;
    $danger: #ef5350;
    $success: #06d79c;
    $warning: #ffb22b;
    $dark: #192430;
    $light: #303a45;
    $secondary: #001e3c;

    $theme-colors: ('primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark,
        'light-primary': #1e446d,
        'light-success': #1c656e,
        'light-info': #312578,
        'light-warning': #5a5446,
        'light-danger': #662b36,
        'light-secondary': #121927,
    );
    // scss-docs-start gray-color-variables
    $white: #192430 !default;
    $gray-100: #192430 !default;
    $gray-200: #303a45 !default;
    $gray-300: #475059 !default;
    $gray-400: #5e666e !default;
    $gray-500: #757c83 !default;
    $gray-600: #8c9298 !default;
    $gray-700: #a3a7ac !default;
    $gray-800: #babdc1 !default;
    $gray-900: #e6e9ec !default;
    $black: rgba(255, 255, 255, 0.9) !default;

    /*******************/
    // Theme Text Contrast
    /********************/
    $min-contrast-ratio: 1.6 !default;
    $enable-shadows: false !default;
    $font-size-base: 0.875rem !default;

    /*******************/
    // Theme body bg & text color
    /********************/
    $body-bg: $gray-200 !default;
    $body-color: $gray-900 !default;
    $btn-focus-box-shadow: 0;

    // heading fonts setting
    $h1-font-size: 36px !default;
    $h2-font-size: 24px !default;
    $h3-font-size: 21px !default;
    $h4-font-size: 18px !default;
    $h5-font-size: 16px !default;
    $h6-font-size: 14px !default;

    // Font size
    $font-sizes: (1: 36px,
        2: 24px,
        3: 21px,
        4: 18px,
        5: 16px,
        6: 14px,
        7: 12px,
    );

    /*******************/
    // Theme common variable
    /********************/
    $border-radius: 0.3rem !default;
    $box-shadow: 0;
    $headings-font-weight: 400 !default;

    $font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

    $font-weight-light: 400 !default;
    $font-weight-normal: 500 !default;
    $font-weight-bold: 600 !default;
    $font-weight-base: $font-weight-light !default;

    $h5-font-size: $font-size-base * 1.1 !default;
    $card-border-width: 0 !default;
    $card-box-shadow: $box-shadow !default;
    $card-spacer-y: 1.25rem !default;
    $card-spacer-x: 1.25rem !default;
    $grid-gutter-width: 1.85rem !default;
    // $headings-color: $gray-900 !default;

    $input-bg: $white !default;
    $badge-font-weight: 300 !default;
    $badge-padding-y: 0.35em !default;
    $badge-padding-x: 0.7em !default;
    $badge-pill-padding-x: 0.7em !default;
    $badge-pill-padding-y: 1em !default;

    // Progress bars
    $progress-height: 6px !default;

    /*******************/
    // Theme btn
    /********************/
    $btn-focus-width: 0px;

    // FixedTopBar color change for dark mode
    .topbar {
        background-color: #192430;
        color: white;
    }

    body .btn {
        color: $black;

        &:hover,
        &.active,
        &.disabled,
        &:focus {
            color: $black;
        }

    }

    body .btn-icon-N {
        background-color: #192430;
        color: #d9e1e2;
        font-weight: 400;
        font-size: 14px;
        padding-top: 1.8px;
        padding-bottom: 1.8px;
        padding-right: 5.2px;
        padding-left: 5.2px;
        border: none;

        &:focus,
        &:hover {
            background-color: #d9e1e2;
            border-color: #d9e1e2;
            filter: saturate(2);
            color: #192430;
        }
    }

    body .btn-secondary {
        background-color: #192430;
        color: #eef0f2;
    }

    body .btn-success {
        background-color: #192430;
        border-color: #192430;
        color: #eef0f2;
        font-weight: 300;

        &:focus,
        &:hover {
            background-color: #eef0f2;
            border-color: #eef0f2;
            color: #192430;
        }
    }

    .breadCrumbTitle {
        color: #eef0f2;
        // color:#1186a2;
        font-weight: 600;
        font-size: 25px;
    }

    // .css-yk16xz-control{
    //   background-color: transparent;
    // }
    .languageSelected .css-13cymwt-control {
        border: none;
        background-color: transparent;
    }

    // #languageSelected .css-b62m3t-container {
    //     border: none;
    //     background-color: red;
    //     // background-color: transparent;
    // }

    .card-header {
        background-color: #192430;
    }

    $btn-box-shadow: none !default;
    /*******************/
    // Theme sidebar width
    /********************/
    $sidebarWidth: 240px;
    $sidebartext: #ffffff;
    $sidebartextlight: rgba(255, 255, 255, 0.6);
    $miniSidebarWidth: 80px;

    $topbarHeight: 60px;

    $dropdown-border-width: 0 !default;
    $dropdown-box-shadow: $box-shadow !default;
    $dropdown-link-hover-bg: $gray-100 !default;

    $enable-negative-margins: true;

    $table-cell-padding-y: 0.75rem !default;
    $table-cell-padding-x: 0.75rem !default;
    //Added
    $theadColor: #1186a2;
    $sideBarColor: #1f4f67;

    //Modal redesign
    .modal-header {
        background-color: #192430;
    }

    .modal-title {
        color: #1186a2;
    }

    .modal-header .btn-close {
        background-color: transparent;
    }

    .modal-body {
        background-color: #192430;
    }

    .modal-body .css-yk16xz-control {
        background-color: transparent;
    }

    .modal-body .progtrckr-todo:before {
        background-color: #192430;
    }

    .modal-footer {
        background-color: #192430;
    }

    //Added for DataTable
    .WQNxq {
        background-color: transparent;
    }

    .iSAVrt {
        background-color: transparent;

    }

    .dwPlXY {
        background-color: transparent;
        color: white;
    }

    .rdt_TableCol {
        background-color: transparent;
        padding: 0;
        display: inline-flex;
        justify-content: center;
        color: #1186a2;
        font-size: 15px;
        // font-size:15px;

    }
    .rdt_ExpanderRow,
    .rdt_Pagination,
    [role="rowgroup"],
    [role="row"],
    [role="table"] {
        background-color: transparent !important;
        color:#d9e1e2;
    }

    .gKbhqU {
        background-color: transparent;
        color: white;
        fill: white !important;
    }

    #pagination-last-page,
    #pagination-next-page,
    #pagination-first-page,
    #pagination-previous-page {
        fill: #1186a2 !important;
    }

    [data-column-id="1"].bQdYbR {
        // min-width: 10% !important;
        flex-grow: 0 !important;
        flex-shrink: 1 !important;
        flex-basis: 0 !important;
        -webkit-flex-shrink: 0 !important;
        -webkit-flex-grow: 0 !important;
        justify-content: center;
        display: inline-flex;

    }

    [data-tag="allowRowEvents"] {
        display: flex;
        justify-content: center;
    }

    [data-column-id="2"].bQdYbR {
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        flex-basis: 0 !important;
        -webkit-flex-shrink: 0 !important;
        -webkit-flex-grow: 0 !important;
        display: inline-flex;

    }

    [data-column-id="3"].bQdYbR {
        // min-width: 20% !important;
        flex-grow: 4 !important;
        flex-shrink: 0 !important;
        flex-basis: 0 !important;
        -webkit-flex-shrink: 0 !important;
        -webkit-flex-grow: 0 !important;
        display: inline-flex;

    }

    [data-column-id="4"].bQdYbR {
        // min-width: 20% !important;
        flex-grow: 2 !important;
        flex-shrink: 0 !important;
        flex-basis: 0 !important;
        -webkit-flex-shrink: 0 !important;
        -webkit-flex-grow: 0 !important;
        display: inline-flex;

    }

    [data-column-id="7"].bQdYbR {
        // min-width: 10% !important;
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        flex-basis: 0 !important;
        -webkit-flex-shrink: 0 !important;
        -webkit-flex-grow: 0 !important;
        display: inline-flex;

    }

    [data-column-id="6"].bQdYbR {
        // min-width: 80px !important;
        // min-width: 15% !important;

        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        flex-basis: 0 !important;
        -webkit-flex-shrink: 0 !important;
        -webkit-flex-grow: 0 !important;

        display: inline-flex;
    }

    [data-column-id="6"].hbotQl {
        padding: 5px;
        white-space: normal !important;
    }

    [data-column-id="5"].bQdYbR {
        // min-width: 80px !important;

        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        flex-basis: 0 !important;
        -webkit-flex-shrink: 0 !important;
        -webkit-flex-grow: 0 !important;
        display: inline-flex;

    }

    .glyQNg {
        display: inline-flex !important;
        padding: 0 !important;
    }

    .hbotQl {
        white-space: normal !important;
        // white-space: nowrap !important;
        word-break: keep-all !important;
        min-width: 100%;
        display: inline-flex !important;
        justify-content: center !important;

    }

    .dtqzBx div:first-child {
        white-space: normal !important;
        overflow: visible;

    }

    .form-check .form-switch {
        display: flex;
        justify-content: center;
    }

    .form-switch {
        padding-left: 0 !important;
    }

    .form-check .form-check-input {
        margin-left: 0 !important;
    }

    .iSAVrt,
    .dwPlXY {
        display: flex;
        justify-content: space-between !important;
    }

    // Headings outside card
    .outsideCardHeadings {
        color: #077CAB;
        filter: saturate(3);
        font-weight: 400;
        font-size: $h4-font-size;
        // text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);

    }

    .ant-breadcrumb-separator {
        color: #d9e1e2 !important;
        filter: saturate(0);

    }

    .ant-breadcrumb-link {
        color: #077cab !important;
    }


    .quickLinksHeadings {
        color: #d9e1e2;
        filter: saturate(0);
        font-weight: 300;
        font-size: 18px;

        // text-shadow: 0px 0px 15px rgba(172,176,180, 0.2);

    }

    .txtWelcome {
        color: #d9e1e2;
        filter: saturate(0);
    }

    .card {
        background-color: #192430 !important;
    }

    .homeWelcomeCard {
        background-color: #077CAB !important;
    }

    .apexcharts-toolbar {
        color: #d9e1e2 !important;
    }

    .apexcharts-menu-open {
        background-color: #192430 !important;
        border-color: #174a5b !important;

    }



    //*********************************************************
    @import './layout/sidebar';
    @import './layout/container';
    @import './layout/customizer';
    @import './layout/horizontal';
    @import './layout/topbar';
    @import './layout/rtl/rtl';
    --#{$prefix}body-bg: #303a45;
    --#{$prefix}border-color:transparent !important;
    .list-group-item{
        background-color: transparent !important;
        color:#d9e1e2;
        cursor:pointer;
    }

    .bgProfileDD {
        background-color: #192430;
    }

    .txtProfile {
        color: #d9e1e2;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: transparent;
        color: #077cab;
    }

    .btn-header:hover {
        // background-color: transparent;
        color: #077cab;
        border: none;
    }

    .cardLogin,
    .cardRegister {
        background-color: white !important;
    }

    .linkSideBar {
        text-decoration: none;
        color: white;
    }

    .linkSideBar:hover,
    .active>.linkSideBar {
        color: #174a5b;
    }

    .headingCard {
        color: $primaryWhite;
    }

    .txtRecentTransactions {
        color: $primaryWhite;
    }

    .searchBar {
        background-color: #192430;
        color: #d9e1e2
    }
    
    #sku>#selectInputs>*,
    #name>#selectInputs>*,
    #categories>#selectInputs>* {
        background-color: #192430 !important;
        border-color: #192430 !important;
    }
    .inputBox,
    #paymentConfigurationSelect3>#selectInputs3>*,
    #paymentConfigurationSelect>#selectInputs2>*,
    #stepsStyle>#fileInput,
    #stepsStyle>textarea,
    #stepsStyle>input,
    #stepsStyle>#selectInputs>* {
        background-color: #101820 !important;
        border-color: #101820 !important;
    }
    .inputBox{
        color:#d9e1e2;
    }
    
    .form-control:disabled{
        background-color: #243649 !important;
        border-color: #243649 !important;
        color:#d9e1e2 !important;
    }

    #stepsStyle>textarea,
    #stepsStyle>input {
        color: #d9e1e2
    }

    .btn-icon-Modal {
        background-color: $primary !important;
        border-color: $primary;
        padding: 1.8px;

        &:focus,
        &:hover {
            background-color: #d9e1e2 !important;
            border-color: #d9e1e2 !important;
            color: $primary !important;
        }
    }

    .cardLicenciaDescriptionComponent>.cardLicenciaDescripcion {
        background-color: $primary !important;
    }

    .labels {
        color: #d9e1e2;
    }

    #fileInput {
        background-color: #101820;
        border-color: #101820;
        color: white
    }

    #selectInputs * {
        color: #077cab;
        &:active {
            background-color: #101820;
            color:#d9e1e2

        }
    }
    #selectInputs2 * {
        color: #d9e1e2;
        &:active {
            background-color: #101820;
            color:#d9e1e2

        }
    }
    #selectInputs3 * {
        color: #d9e1e2;
        &:active {
            background-color: #101820;
            color:#d9e1e2

        }
    }

    .badgeCurrency {
        border-color: #077cab;
        border-width: 1.5px;
        background-color: #d9e1e2 !important;
        color: $primary;
    }

    .chgTOl {
        background-color: rgba($color: #101820, $alpha: 0.7) !important;
        // background-color: transparent !important;
    }

    .loaderBg {
        background-color: #192430;
    }

    [data-column-id] {
        white-space: normal !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    [data-tag="allowRowEvents"] {
        white-space: normal !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    [role="row"] {
        display: flex;
        justify-content: space-between !important;
    }

    #loader {
        content: url("../images/loader/loaderDarkKoonol.gif");
    }

    .listPermitsRole {
        background-color: transparent;

        &:hover {
            background-color: #192430;
            color: $primary;

        }
    }


}